<div data-ng-controller="MainController as vm">
	<uib-tabset>
		<uib-tab active="true" heading="Present Weather Data">
			<div data-ng-include="'src/app/main/partials/present.html'"></div>
		</uib-tab>
		<uib-tab heading="Future Weather Data">
			<div data-ng-include="'src/app/main/partials/future.html'"></div>
		</uib-tab>
	</uib-tabset>
</div>