<div>
	<form role="form">
		<div class="form-group">
			<input class="form-control" placeholder="Location" data-ng-model="futureReq.location" />
		</div>
		<div>
			<div class="form-group">
				<button class="btn btn-success" data-ng-click="vm.handleFuture(futureReq)"><i class="fa fa-search pull-left"></i> Search!</button>
			</div>
		</div>
	</form>
	<div data-ng-if="vm.loading" class="text-center">
		<i class="fa fa-spinner fa-4x fa-spin"></i>
	</div>
	<div class="well" data-ng-if="vm.futureData">
		<label>Forecast for the next 5 days (in 3 hour intervals) for:</label>
		<p>{{ vm.futureData.city.name }}, {{ vm.futureData.city.country }}</p>
		<label>Coordinates</label>
		<p>Latitude: {{ vm.futureData.city.coord.lat }}, Longitude: {{ vm.futureData.city.coord.lon }}</p>
		<uib-tabset>
			<uib-tab data-heading="Textual View">
				<div data-ng-include="'src/app/main/partials/textual-view.html'"></div>
			</uib-tab>
			<uib-tab data-heading="Graphical View">
				<div data-ng-include="'src/app/main/partials/graphical-view.html'"></div>
			</uib-tab>
		</uib-tabset>
	</div>
</div>