<div>
	<form role="form">
		<div class="form-group">
			<input class="form-control" placeholder="Location" data-ng-model="presentReq.location" />
		</div>
		<div class="form-group">
			<button class="btn btn-success" data-ng-click="vm.handlePresent(presentReq)"><i class="fa fa-search pull-left"></i> Search!</button>
		</div>
	</form>
	<div data-ng-if="vm.loading" class="text-center">
		<i class="fa fa-spinner fa-4x fa-spin"></i>
	</div>
	<div class="well" data-ng-if="vm.presentData">
		<label>Current Weather Data for</label>
		<p>{{ vm.presentData.name }}, {{ vm.presentData.sys.country }}</p>
		<label>Coordinates</label>
		<p>Latitude: {{ vm.presentData.coord.lat }}, Longitude: {{ vm.presentData.coord.lon }}</p>
		<label>Weather Description</label>
		<p>{{ vm.presentData.weather[0].main }} ({{ vm.presentData.weather[0].description }})</p>
		<label>Current Temperature</label>
		<p>{{ vm.presentData.main.temp }}</p>
		<label>Minimimum Temperature</label>
		<p>{{ vm.presentData.main.temp_min }}</p>
		<label>Maximum Temperature</label>
		<p>{{ vm.presentData.main.temp_max }}</p>
		<label>Humidity</label>
		<p>{{ vm.presentData.main.humidity }}</p>
		<label>Pressure</label>
		<p>{{ vm.presentData.main.pressure }}</p>
		<label>Wind</label>
		<p>Speed: {{ vm.presentData.wind.speed }} Angle: {{ vm.presentData.wind.deg }}</p>
		<label>Clouds</label>
		<p>All: {{ vm.presentData.clouds.all }}</p>
		<label>Sunrise</label>
		<p>{{ vm.presentData.sys.sunrise }}</p>
		<label>Sunset</label>
		<p>{{ vm.presentData.sys.sunset }}</p>
	</div>
</div>