<uib-accordion data-close-others="false">
	<uib-accordion-group data-panel-class="panel-primary" data-ng-repeat="int in vm.futureData.list" heading="Weather Data for {{ int.dt_txt }}">
		<label>Weather Description</label>
		<p>{{ int.weather[0].main }} ({{ int.weather[0].description }})</p>
		<label>Temperature</label>
		<p>{{ int.main.temp }}</p>
		<label>Minimimum Temperature</label>
		<p>{{ int.main.temp_min }}</p>
		<label>Maximum Temperature</label>
		<p>{{ int.main.temp_max }}</p>
		<label>Humidity</label>
		<p>{{ int.main.humidity }}</p>
		<label>Pressure</label>
		<p>{{ int.main.pressure }}</p>
		<label>Wind</label>
		<p>Speed: {{ int.wind.speed }} Angle: {{ int.wind.deg }}</p>
		<label>Clouds</label>
		<p>All: {{ int.clouds.all }}</p>
	</uib-accordion-group>
</uib-accordion>