/**
	Main Stylesheet
*/

body {
	background :url('../images/bg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
}

.torrential-box {
	background: rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: inset 5px 5px 50px 10px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 5px 5px 50px 10px rgba(0,0,0,0.25);
	box-shadow: inset 5px 5px 50px 10px rgba(0,0,0,0.25);
	padding:10px;
	border-radius:10px;
}
